@media(max-width: 1270px){
	
	.logo-area .brand{
		width: 148px;
	}

	#topnav .menu{
		float: right;
	}

	#topnav .menu ul{
		position: absolute;
		background-color: #535C69;
		border-radius: 0;
	}

	.menu ul{
		display: none;
	}


	#topnav .menu .pull-right>a{
		height: 45px;
	}

	#topnav li>a{
		padding: 14px 15px;
	}

	#topnav .menu ul a{
		border: none;
		width: 100%;
	}

	#topnav .menu ul li{
		width: 100%;
	}
	
	#topnav .menu>a{
		display: block;
		color:#fff;
		height: 56px;
		text-align: center;
		padding: 19px 15px;
		top:0;
		width: 56px;
	}


	#topnav .dropdown-menu>.registr{
		width: 25%;
	}


	#topnav .menu>a{
		display: block;
	}

	.static-sidebar {
	    width: 237px;
	}

	.sidebar {
	    padding: 0 7px;
	}

	.hotel-head .info li{
		padding-left: 10px;
	}

	.hotel-head .info li:last-child{
		padding-right: 10px;
	}


	.hotel-head .info li{
		font-size: 11px;
	}
	.send-request button{
		font-size: 11px;
		padding: 4px 10px;
	}

	.hotel-head{
		height: 35px;
	}

	.compare, .view-more{
		margin: 4px;
	}

	.hotel-body>table>tbody>tr>td{
		padding: 0 5px;
	}

	.hotel-body>table>tbody>tr:first-child>td:last-child{
		min-width: 177px;
	}

	/* Вторая страница */

	.fixed-sidebar .sidebar{
		width: 237px;
	}

	.logo-h{
		background: url("images/pp.png") 3px 1px no-repeat;
	    padding: 5px 0 5px 75px;
	    height: 60px;
	}

	.slider-legend .first-line button{
		min-width: auto;
	}
}