@import "http://webfonts.ru/import/opensans.css";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
	line-height: normal !important;
}

body{
	line-height: normal;
}

.clearfix{
	clear: both;
}

/* верхнее меню */

header{
	background-color: #535C69;
	height: 57px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	right: 0;
}

/* логатипы в шапке */

.logo-area{
	float: left;
	display: block;
}

.logo-area .choise{
	float: left;
	background: #fff url("images/smart-choise.png") no-repeat center 5%;
	height: 57px;
	width: 90px;
}

.logo-area .brand{
	background: #535C69 url("images/img.png") no-repeat 15px center;
	border-right: 1px solid #6d747f;
	float: left;
	height: 57px;
	width: 167px;
}

/* Кнопки в верхнем меню */

#topnav .navbar-right{
	float: right;
}

#topnav .avt .no-registr{
	display: none;
}

#topnav .guest .registr{
	display: none;
}

.registr a{
	height: 56px;
	width: 56px;
	text-align: center;
}

#topnav .navbar-left{
	float: left;
}

 .navbar-left ul{
	display: block;
	position: static;
	padding: 0;
	margin: 0;
	border: 0;
	box-shadow: none;
}

.navbar-right ul{
	padding: 0;
	margin: 0;
	border: 0;
	box-shadow: none;
	background-color: #535C69;
	border-radius: 0;
	min-width: 56px;
}

#topnav .navbar-right ul li{
	float: none;
	border: none;
}

#topnav .navbar-right ul li a{
	border: none;
}

#topnav .navbar-left>a{
	display: none;
}

#topnav li{ 	
	display: block;
	float:left;
}

#topnav li>a{
	background-color: #535C69;
	border-right: 1px solid #6d747f;
	color: #ECEFF1;
	display: inline-block;
	font-size: 14px;
	padding: 19px 15px;
	text-decoration: none;
}

#topnav ul:last-child li:last-child a{
	border: none;
} 

.number{
	background-color: #fff;
	border-radius: 50%;
	color: #51ADB9;
	display: inline-block;
	font-size: 10px;
	font-weight: 700;
	height: 17px;
	line-height: 17px;
	margin: -2px 0 0 5px;
	text-align: center;
	width: 17px;
	vertical-align: middle;
}

#topnav #flag{
	padding: 18px 15px;
}

#flag img{
	vertical-align: middle;
}

/* Контент */
/* Сетка */

#wrapper{
	display: table;
	margin-top: 57px; 
	width: 100%;
}

#layout-static{
	display: table-row;
}

/* Область с фильтрами слева */

.static-sidebar-wrapper{
	background-color: #EEF2F4;
	display: table-cell;
    overflow: hidden;
	vertical-align: top;
	width: 257px;
}

.static-sidebar{
    width: 257px;
}

.sidebar{
	padding: 0 17px;
}

.sidebar h2{
	color: #616161;
	font-size: 22px;
	font-weight: 500;
	margin-top: 30px;
}
.sidebar h3{
	color: #616161;
	font-size: 13px;
	font-weight: 500;
	margin: 25px 0 10px;
}

/* Поиск по ID */

#object-id{
	border: 1px solid #E4E5E6;
	height: 32px;
	margin-bottom: 15px;
	padding-left: 10px;
	width: 142px;
	float: left;
}

#submit-id{
	background-color: #03A9F4;
	border: none;
	border-radius: 2px;
	color: #fff;
	float: right;
	font-size: 14px;
	height: 32px;
	text-align: center;
	vertical-align: middle;
	width: 67px;
}

.sidebar .or{
	color: #BDBDBD;
	font-size: 12px;
	font-style: italic;
	font-weight: 500;
}

.sidebar hr{
	background-color: #E4E7E9;
	border: none;
	display: inline-block;
	float: right;
	height: 1px;
	margin-top: 12px;
	margin-left: 5px;
	width: 147px;
}

.form-control{
	border: 1px solid #E0E0E0;
	height: 32px;
	padding-left: 10px;
	width: 100%;
}

.sidebar [type="submit"]{
	background-color: #03A9F4;
	border: none;
	border-radius: 2px;
	color: #fff;
	font-size: 14px;
	height: 35px;
	margin-bottom: 10px;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

#more-options{
	color: #03A9F4;
	font-size: 17px;
}

.more-options{
	display: none;
}

.more-options .form-control:last-child{
	margin-bottom: 25px;
}

.sidebar p{
	color: #616161;
	font-size: 14px;
	margin: 15px 0 20px; 
}

.manager img{
	display: none;
}

#submit-request{
	width: 144px;
}

.presets{
	border: none;
	border-radius: 2px;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	height: 35px;
	margin-top: 10px;
	padding-left: 15px;
	text-align: left;
	vertical-align: middle;
	width: 100%;
}
.presets:nth-child(4n){
	background-color: #8BC34A;
}

.presets:nth-child(4n+1){
	background-color: #00BCD4;
}

.presets:nth-child(4n+2){
	background-color: #FFC107;
}

.presets:nth-child(4n+3){
	background-color: #FF7607;
}

/* Правая область */

.static-content-wrapper{
	display: table-cell;
    width: 100%;
}

.static-content{
	background-color: #FAFAFA;
}

.logo-h{
	background: url("images/pp.png") 18px 11px no-repeat;
	padding: 20px 100px 20px;
	height: 70px;
}

.logo-h h1{
	font-size: 33px;
	font-weight: 500;
	margin: 0;
}

/* График */

.graf{
	background-color: #fff;
	border: 1px solid #E5E5E5;
	margin: 17px;
	margin-bottom: 10px;
	padding: 20px;
}

.graf .button-panel button{
	background-color: #fff;
	border: 1px solid #E0E0E0;
	border-radius: 2px;
	color: #03A9F4;
	font-size: 12px;
	font-weight: 500;
	height: 26px;
	margin-right: 8px;
	margin-bottom: 10px; 
	padding: 2px 8px;
	text-align: center;
	vertical-align: middle;
}

.graf-head .buttons-sort{
	float: right;
}

.graf-head button:last-child{
	margin-right: 0;
}

.result .buttons-sort button:last-child{
	margin: 0;
}

.graf-head button sup{
	font-weight: 9px;
}

.button-panel{
	border-bottom: 1px solid #EEEEEE;
	padding: 0 0px 10px;
	margin: 10px 0px 15px 45px;
}

.graf .button-panel button:hover, .buttons-sort button:hover{
	background-color: #B9DEE3;
	border: 1px solid #B9DEE3;
}

.graf .button-panel button:active, .buttons-sort button:active{
	background-color: #51ADB9;
	border: 1px solid #51ADB9;
	color: #fff;
}

.graf-head h2{
	font-weight: 500;
	margin-left: 45px;
}

.graf-head h2 sup{
	font-size: 12px;
}

.graf-head small{
	color: #BDBDBD;
	font-size: 23px;
}

.clear{
	background-color: #BEBEBE;
	border: none;
	border-radius: 3px;
	color: #fff;
	font-size: 13px;
	font-weight: 500;
	float: right;
	padding: 5px 25px;
	text-align: center;
	margin-left: 10px;
}

.graf-body{
	height: 365px;
	width: 100%;
}

.graf-body+hr{
	background-color: #EEE;
	border: none;
	height: 1px;
	margin-left: 45px;
	margin-bottom: 10px;
}

.graf-legend{
	margin-left: 45px;
}

.graf-legend li{
	display: block;
	float: left;
	padding: 0px 25px 0px 5px;
}

.graf-legend .circle{
	display: inline-block;
	border: 1px solid #BFBFBF;
	border-radius: 50%;
	font-size: 12px;
	font-weight: 800;
	height: 19px;
	text-align: center;
	vertical-align: middle;
	width: 19px;
}


.graf-legend span{
	vertical-align: middle;
	color: #BDBDBD;
	margin-left: 5px;
	font-size: 13px;
} 

.graf-legend li:last-child .circle{
	background-color: #36E182;
	border: none;
}

/* Результат поиска */

.result{
	padding: 17px;
}

.result-head h2{
	font-weight: 500;
}

.result-head h2 span{
	margin-left: 20px;
	color: #03A9F4;
	font-size: 16px;
	vertical-align: middle;
}

.result-head .buttons-sort{
	margin-top: 15px;
}

.buttons-sort button{
	background-color: #fff;
	border: none;
	border: 1px solid #E0E0E0; 
	color: #616161;
	display: block;
	font-size: 12px;
	font-weight: 600;
	float: left;
	padding: 5px 20px;
}


.buttons-sort button:hover{
	background-color: #B9DEE3;
	border: 1px solid #B9DEE3;
}


.buttons-sort button:active{
	background-color: #51ADB9;
	border: 1px solid #51ADB9;
	color: #fff;
}

/* HOTEL */

.hotel-wrapper{
	border: 1px solid #E5E5E5;
	display: table;
	margin-top: 20px;
	width: 100%;
}

.hotel{
	display: table-row;
}

.hotel .img{
	display: table-cell;
	background: url("images/obj1.png") no-repeat;
	background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	position: relative;
	width: 27.6%;/*270px;*/
	vertical-align: top;
	min-width: 250px;
	max-width: 410px;
	max-height: 
}


.hotel .img .img-info{
	background-color: rgba(77,85,88,0.8);
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
}

.hotel .img>button{
	background-color: #fff;
	border: none;
	border-radius: 9px;
	font-size: 11px;
	font-weight: 600;
	margin: 10px 0 0 10px;
	padding: 3px 15px;
	vertical-align: middle;
}

.rent{
	color: #FF7607;
}

.sale{
	color: #8BC34A;
}

.img-info{
	color: #fff;
	font-size: 11px;
	padding: 6px 10px 10px;
}

.img-info .left{
	float: left;
}

.img-info .right{
	float: left;
	margin: 10px 10px 0;
}

.img-info .right *{
	line-height: 14px;
	vertical-align: middle;
}

.img-info .right span{
	margin-left: 1px;
	font-size: 10px;
}

.img-info .right img{
	margin-left: 5px;
}

.grade-area{
	background-color: #fff;
	border-radius: 2px;
	height: 8px;
	margin-top: 3px;
	width: 93px;
}

.grade{
	background-color: #EB63A9;
	border-radius: 2px;
	height: 8px;
	width: 45px;
}

.content-hotel{
	display: table-cell;

vertical-align: top;
}

.hotel-head{
	background-color: #EEEEEE;
	height: 39px;
}
.hotel-head .info{
	float: left;
}
.hotel-head .info li{
	color: #fff;
	font-size: 14px;
	float: left;
	display: block;
	padding: 10px 0 10px 15px;
}

/* цвета для шапки отеля */

.hotel-head .orange{
	background-color: #FF7607;
}

.hotel-head .orange+.send-request{
	background-color: #FF7607;
}

.hotel-head .orange+.send-request button{
	background-color: #FFBC07;
}

.hotel-head .yellow{
	background-color: #FFBC07;
}

.hotel-head .yellow+.send-request{
	background-color: #FFBC07;
}

.hotel-head .yellow+.send-request button{
	background-color: #FF7607;
}

.hotel-head .green{
	background-color: #68B959;
}

.hotel-head .green+.send-request{
	background-color: #68B959;
}

.hotel-head .green+.send-request button{
	background-color: #2C8628;
}

.hotel-body .block .fast-red{
	color: #E51C23;
	font-size: 13px;
	font-weight: 800;
}

.hotel-head img{
	margin-right: 3px;
	vertical-align: baseline;
}

.hotel-head .info li:last-child{
	margin: 0;
	padding-right: 15px; 
}

.send-request{
	font-weight: 700;
	float: left;
	padding: 6px 10px;
}

.send-request button{
	border: none;
	border-radius: 2px;
	color: #fff;
	padding: 5px 10px;
	font-size: 12px;
}

.compare, .view-more{
	border: none;
	border-radius: 3px;
	color: #fff;
	font-size: 12px;
	float: right;
	margin: 6px;
	padding: 5px 10px;
}

.compare{
	
} 

.compare>div{
	background-color: #fff;
	border-radius: 50%;
	float: left;
	height: 9px;
	margin: 4px 5px 4px 0;
	width: 9px;
}

/* цвета для кнопки compare */

.pink-compare{
	background-color: #EC3B71;
}

.white-compare{
	background-color: #fff;
	color: #03A9F4;
}

.white-compare>div{
	border: 1px solid #E3E3E3;
}

.green-compare{
	background-color: #68B959;
}

.view-more{
	background-color: #03A9F4;
	margin-right: 15px;
}

.hotel-body{
	float: left;
	padding: 0 10px;
	width: 100%;
}
.hotel-body>table{
	width: 100%;
	margin: 10px 0;
}

.hotel-body>table>tbody>tr>td{
	border-left: 1px solid #EEEEEE;
	padding: 0 15px;
	width: 25%;
}

.hotel-body td{
	vertical-align: top;
}

.hotel-body>table>tbody>tr>td:first-child{
	border: none;
	padding-left: 0;
}

.hotel-body>table>tbody>tr{
	margin: 15px 0;
}

.block{
	color: #616161;
}


.block table{
	font-size: 13px; 
	width: 100%;
}

.block .title{
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 5px;
}

.block td{
	height: 20px;
	vertical-align: bottom;
}

.block td:last-child{
	font-size: 12px;
	font-weight: 700;
	color: #616161;
	text-align: right;
}

.block .price{
	display: block;
	color: #000;
	margin-bottom: 5px;
	font-size: 15px;
}

/* цвета для процентов */

.minus-red{
	color: #E7393E;
	font-weight: 500; 
}

.plus-green{
	color: #329A1A;
	font-weight: 500;
}



.hotel-body>table>tbody>tr:first-child>td:last-child td:last-child{
	text-align: left;
	padding-left: 5px;
}

.hotel-body>table>tbody>tr:first-child>td:last-child{
	padding-right: 0;

	min-width: 187px;
}

sup{
	font-size: 7px;
}

/* grade */

.general-grade, .object-grade, .apartment-grade, .price-grade{
	margin-top: 15px;
	
}

.title-grade, .grade-num{
	color: #BDBDBD;
	font-size: 11px;
	font-weight: 500;
}

.title-grade{
	float: left;
}

.grade-num{
	font-weight: 600;
	float: right;
}

.result-body .grade-area{
	background-color: #EEEEEE;
	width: 100%;
}

.general-grade .grade{
	background-color: #03A9F4;
}

.object-grade .grade{
	background-color: #FF9307;
}

.apartment-grade .grade{
	background-color: #FFC107;
}

.price-grade .grade{
	background-color: #8BC34A;
}

/* ползунки */

.irs-line-mid, .irs-line-left, .irs-line-right, .irs-diapason, .irs-slider {
    background: url(http://outline.kaijuthemes.com/1.2/assets/plugins/Ion.RangeSlider/img/sprite-skin-nice.png) repeat-x;
}

.irs {
    height: 40px;
    position: relative;
    display: block;
}
.irs-line {
    height: 8px;
    top: 25px;
    position: relative;
    display: block;
    overflow: hidden;
}

.irs-line-left {
    height: 8px;
    background-position: 0 -30px;
    left: 0;
    width: 10%;
}


.irs-line-left, .irs-line-mid, .irs-line-right {
    position: absolute;
    display: block;
    top: 0;
}
.irs-line-mid {
	left: 10%;
    width: 80%;
    height: 8px;
    background-position: 0 0;
}

.irs-line-right {
    right: 0;
    width: 10%;
    height: 8px;
    background-position: 100% -30px;
}

.irs-min, .irs-max {
    color: #999;
    font-size: 10px;
    line-height: 1.333;
    text-shadow: none;
    top: 0;
    padding: 1px 3px;
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
}
.irs-min {
    position: absolute;
    display: block;
    left: 0;
    cursor: default;
}

.irs-max {
    position: absolute;
    display: block;
    right: 0;
    cursor: default;
}

.irs-from, .irs-to, .irs-single {
    color: #fff;
    font-size: 10px;
    line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: rgba(0,0,0,0.3);
    border-radius: 3px;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    cursor: default;
    white-space: nowrap;
}




.irs-diapason {
    height: 8px;
    top: 25px;
    background-position: 0 -60px;
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
}

.irs-slider.last {
    z-index: 2;
}
.irs-slider.from {
    left: 100px;
}

.irs-slider {
    width: 22px;
    height: 22px;
    background-position: 0 -90px;
    position: absolute;
    display: block;
    cursor: default;
    z-index: 1;
    top: 18px !important;
}

.irs-slider.from:before {
    position: absolute;
    display: block;
    content: "";
    top: -30%;
    left: -30%;
    width: 130%;
    height: 160%;
    background: rgba(0,0,0,0.0);
}

.irs-slider.to {
    left: 300px;
}

.irs-slider.to:before {
    position: absolute;
    display: block;
    content: "";
    top: -30%;
    left: 0;
    width: 130%;
    height: 160%;
    background: rgba(0,0,0,0.0);
}

.irs-grid {
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
}
