@media(max-width: 850px){
	.logo-area .brand{
		width: 107px;
	}
	
	.sidebar>h2:first-child{
		margin-left: 5px; 
	}

	.first-column, .second-column{
		padding: 0 5px;
	}

	.manager{
		padding: 10px;
	}


	.manager img{
		margin-right: 5px;
		width: 100px;
	}

	.manager h2{
		font-size: 19px;
	}

	.manager p{
		font-size: 13px;
	}
}