@media(max-width: 1150px){

	.logo-area .brand{
		border: none;
	}

	#wrapper{
		display: block;
	}

	#layout-static{
		display: block;
	}

	.static-sidebar-wrapper{
		width: 100%;
		display: block;
	}

	.static-sidebar{
		width: 100%;
	}

	.sidebar{
		padding-bottom: 17px;
	}

	.static-content-wrapper{
		display: block;
	}

	.first-column, .second-column{
		padding: 0 15px;
		width: 50%;
	}

	.first-column{
		float: left;
	}

	.second-column{
		float: right;
		width: 50%;
	}

	.or, .or+hr{
		display: none;
	}

	#object-id{
		margin-bottom: 0;
		width: 70%;
	}

	#submit-id{
		width: 26%;
	}

	.sidebar>h2:first-child{
		margin: 15px 15px 0;
	}

	.sidebar h3{
		margin-top: 10px;
	}

	.manager{
		background-color: #fff;
		border: 1px solid #E5E5E5;
		border-radius: 3px;
		margin-top: 42px;
		padding: 15px;
	}

	#submit-request{
		margin: 0;
	}

	.manager img{
		display: block;
		float: left;
		margin-right: 15px;
	}

	.manager h2{
		margin-top: 0;
	}

	.manager p{
		margin: 5px 0 10px;
	}

	.hotel-body>table{
		margin: 5px 0;
	}

	.general-grade, .object-grade, .apartment-grade, .price-grade{
		margin-top: 7px;
	}
}